---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-size:   20px;


@import "minima";


hr { margin-top: 10px; margin-bottom: 10px; }

p { margin-top: 20px; margin-bottom: 20px; }

/* Customizing header and footer directions for Hebrew */
[dir="rtl"] .site-title { float: right; }
[dir="rtl"] .site-nav { float: left; }
[dir="rtl"] .footer-col { float: right; }

body { font-family: 'Heebo', sans-serif; }

[dir="rtl"]
ul,ol { margin-right: 30px; }

a[href^="http://"]::after,
a[href^="https://"]::after {
    content: '';
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin: 0.15em;
    background-image: url("/assets/images/external-link.png");
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3zM5 5h6v2H7.41l9.29 9.29-1.42 1.42L6 8.41V11H4V4a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");*/
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}