---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-size:   20px;


@import "minima";


hr { margin-top: 10px; margin-bottom: 10px; }

p { margin-top: 20px; margin-bottom: 20px; }

/* Customizing header and footer directions for Hebrew */
[dir="rtl"] .site-title { float: right; }
[dir="rtl"] .site-nav { float: left; }
[dir="rtl"] .footer-col { float: right; }

body { font-family: 'Heebo', sans-serif; }

[dir="rtl"]
ul,ol { margin-right: 30px; }
