---
layout: default
---

{%- include current_lang.html -%}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">
      {% if page.list_title %}
        {{ page.list_title }}
      {% else %}
        {{ site.data.translations.posts[current_lang] }}
      {% endif %}    </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- assign post_lang = post.lang | default: "en" -%}
        {%- if post_lang == current_lang -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {%- endif -%}            
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">
      {{ site.data.translations.subscribe[current_lang] }} 
      <a href="{{ "/feed.xml" | relative_url }}">{{ site.data.translations.via_rss[current_lang] }}</a>
    </p>
  {%- endif -%}

</div>